# ignore temp
/temp/*
# ignore modules
/modules/*
# ignore benchmark
/benchmark/*
!/modules/PSAspNetCore
# ignore binary files and folders
/bin/*
/obj/*
/lib/*
# ignore visual studio artifacts
*.suo
/.vs/